
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>用户登录</title>
    <link href="static/dist/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/dist/css/signin.css" rel="stylesheet"/>
  </head>
  <body>
     <div class="container">
      <form class="form-signin" method="post" action="/logout">
        <h2 class="form-signin-heading">您确认要退出？</h2>
        <button class="btn btn-lg btn-primary btn-block" type="submit">退出</button>
      </form>
    </div>
  </body>
</html>